﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <style type="text/css">
        #email {
            width: 700px;
            margin: 0 auto;
            font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
        }
        /* EMAIL CONTENT */
        #emailcontent {
            font-size: 11pt;
        }

            #emailcontent h1 {
                font-size: 13pt;
            }
    </style>
    <table style="width:700px;" width="700px">
        <tbody>
            <tr>
                <td>
                    <div id="email" style="width:700px;">
                        <div id="emailheader">
                            <img src="https://event-reg.biz/DefaultBanner/images/FoodJapan2019/FoodJapan2019_EmailBanner.jpg" /> <img align="right" src="{%=BarcodeURL%}" />
                        </div>
                        <div id="emailcontent">
                            <h1>
                                TRADE REGISTRATION CONFIRMATION ({%=Regno%})
                            </h1>
                            Dear {%=reg_FName%},<br />
                            <br />
                            Thank you for your registration.<br /><br />
                            We are less than 2 days away from Food Japan 2019, the 8<sup>th</sup> ASEAN’s largest dedicated showcase on Japanese food and beverage, technology and services.<br />
                            <br />
                            <strong>Kindly present this reminder email or the earlier confirmation email, with your business card at the Pre-Registration Counters to collect your Trade Visitor Badge for entry into Food Japan 2019.</strong><br />
                            <br />
                        </div>
                        <div id="emailcontent" style="text-align:center;">
                            <strong><u>Food Japan 2019 Opening Hours</u></strong><br />
                            <br />
                            Trade - 31 October and 1 November (Thursday and Friday), 10.00am to 5.30pm<br />
                            Trade & Public - 2 November (Saturday), 11.00am to 4.30pm<br />
                            <br />
                            Kindly note that registration starts 1 hour before the opening hours and close 30 minutes before the exhibition halls close on all three days of the show.<br />
                            <br />
                            <strong><u>Venue</u></strong><br />
                            <br />
                            Suntec Singapore Convention & Exhibition Centre<br />
                            Hall 401 - 402<br /><br />
                            <hr/>
                        </div>
                        <div id="emailcontent">
                            <br />
                            Registration Number: {%=Regno%}<br />
                            Reference Number: {%=reg_Membershipno%}<br />
                            Name: {%=reg_FName%}<br />
                            Company Name: {%=reg_OName%}<br />
                            Email: {%=reg_Email%}<br />
                            Contact Number:&nbsp;<span style="font-size: 14.6667px;">&nbsp;{%=reg_Telcc%}{%=reg_Telac%}&nbsp;</span><span style="font-size: 11pt;">{%=reg_Tel%}</span>
                            <br /><br />
<hr />
                            We look forward to welcoming you.<br />
                            <br />
                            Thank you,<br />
                            Food Japan Team
                            <br />
                            <br /><br /><br /><br />
                            <span style="font-size: 14.6667px;">{%=reg_FName%}</span>様<br />
                            <br />
                            このたびはFood Japan 2019 へのご来場登録をいただき誠ありがとうございます。<br /><br />
                            Food Japan2019会期まで残すところあと2日となりました。<br />
                            <br />
                            お名刺と本メールまたは、登録完了後にお送りしております確認メールをプリントアウトし、会場にご持参ください。受付にて入場者バッジをお渡しいたします。<br />
                            ※スマートフォン、タブレットなどで本メールをご提示いただくことも可能です。その際バーコードや登録番号のないもの、別の方から転送されたキャプチャー画面などは無効となります。<br />
                            <br />【注意事項】<br/>
                            お名刺のご提出ができない場合はご入場いただけませんので、あらかじめご了承ください。
                            本メール、または登録確認メールをご提示頂けない場合は、会場にて当日登録を行い、入場料SGD20をお支払い頂きます。
                            （バーコードや登録番号のないものは無効となります）<br/>
                            <br />
                        </div>
                        <div id="emailcontent">
                            <u>開催時間</u><br />
                            10月31日(木)、1日(金)　 10.00am to 5.30pm　（業界関係者のみ入場可能）<br />
                            10月2日(土)　 11.00am to 4.30pm（一般公開日）<br />
                            <br />
                            各種受付カウンターは、3日間を通して開場1時間前にオープンし、閉場30分前にクローズ致します。<br />
                            <br />
                            会場<br />
                            Suntec Singapore Convention & Exhibition Centre<br />
                            展示ホール401 - 402<br /><br /><br />
                            <hr/>
                        </div>
                        <div id="emailcontent">
                            来場登録内容<br />
                            登録番号:&nbsp;<span style="font-size: 14.6667px;">{%=Regno%}</span><br />
                            確認番号: {%=reg_Membershipno%}<br />
                            氏名：<span style="font-size: 14.6667px;">{%=reg_FName%}</span><br />
                            会社名：<span style="font-size: 14.6667px;">{%=reg_OName%}</span><br />
                            Email : <span style="font-size: 14.6667px;">&nbsp;{%=reg_Email%}</span><br />
                            電話番号:{%=reg_Telcc%}{%=reg_Telac%}&nbsp;<span style="font-size: 14.6667px;">{%=reg_Tel%}</span><br />
                            <hr/>
                            <br /><br />
                            皆様のご来場をお待ちしております。<br /><br />
                            Food Japan 2019事務局<br />
                            <br />
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <br />

</body>
</html>
