﻿<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Huawei RSVP</title>
</head>
<body>
    <table align="center" cellpadding="2" cellspacing="0" class="Talbe2" height="498" style="font-family: Calibri Light;" width="936">
        <tbody>
            <tr>
                <td style="padding-left:5px;" height="23">
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;"><img alt="" src="https://www.event-reg.biz/DefaultBanner/images/Huawei/EmailBanner.jpg" /></span></span>
                </td>
            </tr>
            <tr>
                <td style="padding-left:5px;">
                    <br />
                    <span style="font-family: Calibri Light;"><span style="font-size: 16px; ">Dear {%=FullName%},</span></span><br />
                    <br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">This is a friendly reminder that you can now register for APAC HUAWEI Developer Day 2019.</span></span><br />

                </td>
            </tr>
            <tr>
                <td style="padding-left:5px;">
                    <br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px; ">Please sign up <a href="{%=regUrl%}">here</a> to secure your seat by 6th November, Wednesday.</span></span><br /><br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">The President of Huawei Consumer Cloud Service, Zhang Ping’an (张平安), will share our vision of building an ecosystem rooted in the HUAWEI Mobile Services (HMS) – a seamlessly connected digital life supported by advanced technologies.</span></span><br /><br />

                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">You will also explore topics such as HUAWEI HiAI and 5G network, as well as discover the stories of how our partners such as Alibaba, Ctrip (Trip.com) and Taboola are disrupting industries with digital innovation.</span></span><br /><br />

                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">Details of the event are as below:</span></span><br />
                    <img src="https://www.event-reg.biz/DefaultBanner/images/Huawei/Directories.jpg" /><br /><br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">For any further info, please contact {%=ContactName%} ({%=ContactEmail%})</span></span><br />
                    <br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">We look forward to meeting you at the event!</span></span><br />
                    <br />
                    <br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">Sincerely,</span></span><br />
                    <span style="font-family:Calibri Light;"><span style="font-size: 16px;">HUAWEI Mobile Services</span></span>
                </td>
            </tr>
            <tr>
                <td style="padding-left:5px;">
                    <img src="https://www.event-reg.biz/DefaultBanner/images/Huawei/EmailAboutHuawei.jpg" /><br /><br />
                    <img src="https://www.event-reg.biz/DefaultBanner/images/Huawei/EmailFooter.jpg" />
                </td>
            </tr>
        </tbody>
    </table>
    <br />
</body>
</html>