<table border="0" cellpadding="1" cellspacing="1" style="width: 700px; font-family: 'Trebuchet MS',Arial;">
    <tbody>
        <tr>
            <td>
                <img src="https://event-reg.biz/DefaultBanner/images/IDEM/RegEmailBanner.png" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Dear {%=Salutation%} {%=reg_FName%} {%=reg_LName%},
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Your account password has been changed to the below. You can sign into&nbsp;<u><strong><a href="https://www.event-reg.biz/registration/LandingIDEM">your account</a></strong></u>&nbsp;to do the following:<br />
                <ul>
                    <li>
                        Upgrade your visitor registration to a delegate registration
                    </li>
                    <li>
                        Update your personal particulars
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Please take note of your Login ID and Password:<br />
                <ul>
                    <li>
                        User ID:&nbsp;<strong>{%=reg_Email%}</strong>
                    </li>
                    <li>
                        Password:&nbsp;<b>{%=LogInDelegatePwd%}</b>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Should you wish to change this password, you can do so with the &lsquo;<em>Change Password&rsquo;&nbsp;</em>function when you log into your account.
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                We look forward to meeting you at IDEM 2020!
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Yours Faithfully,<br />
                IDEM 2020 Organising Team
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
