<table border="0" cellpadding="1" cellspacing="1" style="width: 700px; font-family: 'Trebuchet MS',Arial;">
    <tbody>
        <tr>
            <td>
                <img src="https://event-reg.biz/DefaultBanner/images/IDEM/RegEmailBanner.png" />
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Dear {%=FullName%},
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Thank you for your interest in IDEM 2020.
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Your registration remains incomplete until we have received payment in full. Nevertheless, the registration data has been captured in our registration system.
                
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Please complete your registration in the next <strong>48 hours</strong> by clicking this <a href="https://www.event-reg.biz/registration/LandingIDEM">link</a> or your registration will be cancelled:<br />
                <ul>
                    <li>
                        User ID:&nbsp;<strong>{%=reg_Email%}</strong>
                    </li>
                    <li>
                        Password:&nbsp;<b>{%=LogInDelegatePwd%}</b>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Should you have any questions, please do not hesitate to contact Ms Desiree Tan at <a href="mailto:idem-reg@koelnmesse.com.sg">idem-reg@koelnmesse.com.sg</a> or +65 6500 6729.
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                We look forward to seeing you at IDEM 2020!
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Yours Faithfully,<br />
                IDEM 2020 Organising Team
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
