<table border="0" cellpadding="1" cellspacing="1" style="width: 700px;background-color:#EDEEF2;">
	<tbody>
		<tr>
			<td align="left">
				<table border="0" cellpadding="1" cellspacing="1" style="width: 700px;text-align:left;background-color:#FFFFFF;">
					<tbody>
                        <tr>
                            <td>
                                <img src="https://event-reg.biz/DefaultBanner/images/IDEM/RegEmailBanner.png" />
                            </td>
                        </tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">Dear {%=Name%},</span></span></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
							<p><span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">We received a request to update you with your login information. Please see below for your email and password credentials.</span></span></p>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">User ID: <strong> {%=EmailAddress%}</strong></span></span></td>
						</tr>
						<tr>
							<td><span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">Password: <strong> {%=Password%}</strong></span></span></td>
						</tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">Should you wish to change this password, you can do so with the <em>'Change Password'</em> function when you log into your account.</span></span></td>
                        </tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
							<span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">Yours Faithfully,</span></span><br/>
							<span style="font-family:'Trebuchet MS';"><span style="font-size: 13px;">IDEM 2020 Organising Team</span></span></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>