﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table style="width:700px;font-family:Arial;font-size:13px;">
        <tbody>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-family: Arial;font-size: 13px;">Dear Sir/Madam,</span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-family: Arial;font-size: 13px;">We have received a new VIP / Special Guest(s) nomination submission from your company Exhibitor Nomination ID - {%=RegGroupID%}.</span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-family: Arial;font-size: 13px;">
					{%=NewSubmissionList%}
					</span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-family: Arial;font-size: 13px;">Kind Regards</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-family: Arial;font-size: 13px;">MEDICAL FAIR ASIA Team</span>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
