﻿<%@ Page Language="C#" MasterPageFile="~/Registration.master" AutoEventWireup="true" CodeFile="DefaultRegIndex.aspx.cs" Inherits="DefaultRegIndex" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server"></asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server"></asp:Content>
