﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DownloadGMemberConfirmationLetter.aspx.cs" Inherits="DownloadGMemberConfirmationLetter" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="Content/Default/bootstrap.css" rel="stylesheet" />
    <title></title>

    <script>

        function printPDF(PDFtoPrint)
        {
            document.getElementById(PDFtoPrint).focus(); document.getElementById(PDFtoPrint).contentWindow.print();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server"> 
        <div   style="padding-top:20px;">
        <iframe runat="server" id="ShowPDF" src="" width="100%" height="1200" scrolling="no"  frameborder="0" ></iframe>    
            </div>
     
    </form>
</body>
</html>
