﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Registration.master" AutoEventWireup="true" CodeFile="Reg_SuccessVMDA.aspx.cs" Inherits="Reg_SuccessVMDA" %>
<%@ MasterType VirtualPath="~/Registration.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel runat="server" ID="PanelMsg">
        <p style="padding-bottom:30px;">
            <asp:Label ID="lblSuccessMessage" runat="server"></asp:Label>
            <asp:TextBox ID="txtFlowName" runat="server" Visible="false"></asp:TextBox>
        </p>
    </asp:Panel>
    <div  > 
      <iframe runat="server" id="ShowPDF" src="" width="100%" height="1200" scrolling="no"  frameborder="0" visible="false" ></iframe>    
        </div>
</asp:Content>

