﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="ReloginFormMaster.master.cs" Inherits="ReloginFormMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><%= Global.PageTitle %></title>
    <style type="text/css">
        .navbar
        {
            margin-bottom:0px !important;
        }
        .navbar-collapse
        {
            margin-left : -15px !important;
            margin-right : -15px !important;
        }
        .navbar-default .navbar-nav > li > a
        {
            font-weight:bold;
            color:royalblue !important;
        }
    </style>
    <webopt:BundleReference ID="BundleRefence" runat="server" Path="~/Content/BLUES/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="SiteBody">
    <form id="form1" runat="server" autocomplete="off">

        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <%--<asp:ScriptReference Name="MsAjaxBundle" />--%>
                 <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />

                <asp:ScriptReference Path="~/Content/countdown/jquery.plugin.js" />
                <asp:ScriptReference Path="~/Content/countdown/jquery.countdown.js" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>


        <div class="col-lg-7 col-lg-offset-2 col-xs-12 SiteMasterFrame">
            <div class="row">
                <asp:Image ID="SiteBanner" runat="server" CssClass="img-responsive"  Width="100%" />
            </div>
            <div class="row">
            </div>
            <div class="row SiteHeader">
                <asp:Label runat="server" ID="SiteHeader" Text="1. Page Header"></asp:Label>
            </div>
            <div class="row SiteContent">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
            </div>
            <div class="row">
                <footer>
                    <center><p><%=Server.HtmlDecode(Global.Copyright)%></p></center>
                </footer>
            </div>
        </div>
    </form>
</body>
</html>
