﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ResendConfirmation.aspx.cs" Inherits="ResendConfirmation" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h5>Send Confrimation (IFFS) Email</h5><%--<h5>Send Pre-Populate Email</h5>--%>
        Show : <asp:DropDownList ID="ddlShowID" runat="server"></asp:DropDownList>
        <br />
        <asp:Button ID="btnSendEmail" runat="server" Text="Send Confirmation Email" OnClick="btnSendEmail_Click" />
    </div>
    </form>
</body>
</html>
