﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SendCETReg_EmailBlast.aspx.cs" Inherits="SendCETReg_EmailBlast" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h5>Send CET Registration EDM</h5>
        <asp:Button ID="btnSendEmail" runat="server" Text="Send EDM" OnClick="btnSendEmail_Click" />
    </div>
    </form>
</body>
</html>
