﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Registration.master" AutoEventWireup="true" CodeFile="SuccessArch.aspx.cs" Inherits="SuccessArch" %>
<%@ MasterType VirtualPath="~/Registration.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
        <p style="padding-bottom:100px;">
            <asp:Label ID="lblSuccessMessage" runat="server"></asp:Label>
        </p>
</asp:Content>

