﻿@font-face {
    font-family: 'Trebuchet-MS';
    src: url('Trebuchet_MS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.SiteHeader {
}

.SiteBody {
    background-color: #ffffff;
}

.SiteMasterFrame {
    background-color: #f6f6f6;
    font-family: Trebuchet-MS !important;
}

#ContentPlaceHolder1_lblCheck strong
{
    font-family: Trebuchet-MS !important;
}

.iconStyle
{
    color:white !important;
}

.fa-lg
{
    font-size:1.73333333em !important;
}

.social a
{
    margin:10px !important;
}

li
{
    font-family: Trebuchet-MS !important;
}

.form-control
{
    font-family: Trebuchet-MS !important;
    font-size:12px !important;
}

.form-control option
{
    font-family: Trebuchet-MS !important;
    font-size:12px !important;
}

h4,h3,h2,h1,#fcontent>span, #divPaymentMethod, #ContentPlaceHolder1_lblAccompanyingPersonList>table, #ContentPlaceHolder1_lblShowOrderList>table
{
    font-family: Trebuchet-MS !important;
}

.SiteContent {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.SiteHeader {
    background-color: #234090;
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 5px 10px 30px;
}
 
.MainButton {
    color: #ffffff;
    background-color: #234090;
    border-color: #234090;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexCheckout{
        width: 20.33333333333333% !important;
    }
    .LandingVBtnDiv {
        margin-left: 27.66666666666667% !important;
    }
    #btnTrade, #btnTradeGroup, .LandingVBtn{
        width: 45.33333333333333% !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:62% !important;
    }
    .ForgotPSWStyle3
    {
        width:58% !important;/*62%*/
        padding-left:0px !important;
    }
}

@media (min-width: 992px) {
    .LandingRegister{
        /*width: 100% !important;*/
        width:48% !important;
    }
    .LandingBtnDivStyle{
        padding-left: 45px !important;
    }
    .LandingTxtStyle
    {
        width:180px !important;
    }
    .col-md-offset-5 {
        margin-left: 37.66666666666667% !important;
    }
    #btnTrade, #btnTradeGroup, .LandingVBtn{
        width: 80% !important;
    }
}

fieldset {
    padding: 0.35em 0.625em 0.75em !important;
    margin: 0 2px !important;
    border: 1px solid #c0c0c0 !important;
}

legend {
    display: block;
    width:auto;
    padding: 0;
    margin-bottom:0px;
    font-size:inherit;
    line-height: inherit;
    color: #333333;
    border: 0;
    font-weight:bold;
}

.borderless thead > tr > th
,.borderless thead > tr > td
, .borderless tbody > tr > th
, .borderless tbody > tr > td
,.borderless tfoot > tr > th
,.borderless tfoot > tr > td
{
    border:none !important;
}

.confrmMemHeaderStyle{
    font-weight:bold !important;
    border-bottom:1px solid #aba9a9 !important;
}

.confrmTDStyle{
    width:30%;
    font-weight: bold;
}

.confrmTDFullColomStyle{
    width:5%;
}


/*Conference Accordion*/
.confAccordionContent
{
    background-color:white;
}
a.confAccordionHeaderTextStyle
{
    color: black;
    font-weight : bold;
}
a.confAccordionHeaderTextStyle:hover
{
    color: black;
    text-decoration:none;
}
.accordionDiv1
{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.06);/*#234090;*/
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.confAccordionPendingFont
{
    font-size:medium;
}

.confdivPayMethod
{
    padding-bottom:20px;
}
.confPayMethod
{
    font-size:small;
    font-weight:bold;
}

@media (max-width: 360px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:45px !important;
        padding-left:5px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 375px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:45px !important;
        padding-left:5px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 414px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 460px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .btn-block
    {
        padding-bottom:7px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 480px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 574px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 767px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:10px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/

    .GIndexNext{
        width:68.66666666666666% !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexAdddNewButtonStyle1
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 768px) {
    #footercontact div
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
        height: 30px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:45px !important;
        padding-left:5px !important;
    }

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/
    .FooterLogoStyle1{
        font-size:10px !important;
    }
    .RegFooterCenter
    {
        text-align:center !important;
    }
    .RegIndexAdddNewButtonStyle1
    {
        text-align:center !important;
    }
    .RegIndexEditBtnStyle
    {
        margin-bottom:0px !important;
    }
    .ForgotPSWStyle1
    {
        float:right !important;
    }
    .ForgotPSWStyle2
    {
        width:70% !important;
    }
    .ForgotPSWStyle3
    {
        width:70% !important;
        padding-left:20px !important;
    }
}
@media (max-width: 992px) {
    /*#footercontact
    {
        text-align:left !important;
    }
    #footercontact div h5
    {
        font-size: 12px !important;
    }
    .center-block
    {
        padding-bottom:15px !important;
    }
    .landingSocialStyle1
    {
        padding-left:25px !important;
    }

    .LandingRegister{
        width: 100% !important;
    }
    .LandingLeftStyle, .LandingRightStyle{
        padding-right :0px !important;
    }
    .LandingBtnDivStyle{
        padding-left: 25px !important;
    }
    .LandingBtnStyle{
        width: 130px !important;
    }
    .LandingTxtStyle
    {
        width:130px !important;
    }
    .LandingMngLabelStyle{
        padding-left:5px !important;
        
    }
    .LandingTxtDivStyle{
        padding-left:5px !important;
        
    }
    .LandingMngSubDiv{
        padding-right:30px !important;
        padding-left:10px !important;
    }*/

    /*.col-xs-4, .col-xs-6
    {
        padding-left :15px !important;
        padding-right :15px !important;
        width:50% !important;
    }*/
}
