﻿/*@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css");
 body {
    margin:20px;
}*/
@font-face {
    font-family: 'Horsham-Serial-Light';
    src: url('../fonts/Horsham-Serial-Light-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Berthold-Akzidenz-Grotesk-BE';
    src: url('../fonts/Berthold-Akzidenz-Grotesk-BE-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Capitolium-W01-2';
    src: url('../fonts/Capitolium-W01-2-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.jumbotron {
    background-color: white !important; /*563d7c;*/
    /*color:#fff;*/
    margin-bottom: 0px !important;
    /*font-size: 14px !important;*/
    font-weight: 0 !important;
    line-height:1.1428571435;
    /*font-size: 18px !important;*/
}
.jumbotron td
{
    line-height:1.1428571435 !important;
}
.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius:24px;/*5px;*/
}
.container.drop-shadow {
    padding-left:0;
    padding-right:0;
}
.navbar {
    margin-left:-15px;
    margin-right:-15px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border:0;
}
.SiteHeader {
    font-size: 56px !important;
    padding: 5px 5px 5px 5px !important;
    text-align:center !important;
    font-family:Horsham-Serial-Light !important;/*askerville Old Face !important;*/
    font-weight:100 !important;
}
.SiteMasterFrame {
    font-family:Berthold-Akzidenz-Grotesk-BE, Capitolium-W01-2 !important;
}
.SiteContent
{
    background-color:#F3F2F3 !important;
}

.MainButton
{
    background-color:white !important;
    color : #B91131 !important;
    letter-spacing:6px !important;
    font-size:28pt !important;
}

input[type="submit"].btn
{
    border-radius: 24px !important;
}

.round {
    border-radius: 24px;
}

/*.form-control-label
{
    font-size:16px !important;
}*/

.container .jumbotron
{
    border-radius: 24px !important;
}

.form-group
{
    margin-bottom:15px !important;
}


@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 0px !important;
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 900px !important;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}