﻿
.SiteHeader {
}

.SiteBody {
    background-color: #ffffff;
    font-family:Arial!important;
}

.SiteMasterFrame {
    background-color: #f6f6f6;
    font-family: Arial !important;
}

.SiteContent {
    padding-top: 20px;
    padding-left: 20px;
      padding-right: 20px;
}

.SiteHeader {
    background-color: #414042;
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 5px 20px 5px;
    text-align:center;
}

.MainButton {
    color: #ffffff;
    background-color: #414042;
    border-color: #414042;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

fieldset {
    padding: 0.35em 0.625em 0.75em !important;
    margin: 0 2px !important;
    border: 1px solid #c0c0c0 !important;
}

legend {
    display: block;
    width:auto;
    padding: 0;
    margin-bottom:0px;
    font-size:inherit;
    line-height: inherit;
    color: #333333;
    border: 0;
    font-weight:bold;
}

.borderless thead > tr > th
,.borderless thead > tr > td
, .borderless tbody > tr > th
, .borderless tbody > tr > td
,.borderless tfoot > tr > th
,.borderless tfoot > tr > td
{
    border:none !important;
}

.confrmMemHeaderStyle{
    font-weight:bold !important;
    border-bottom:1px solid #aba9a9 !important;
}

.confrmTDStyle{
    width:30%;
    font-weight: bold;
}

.confrmTDFullColomStyle{
    width:5%;
}


/*Conference Accordion*/
.confAccordionContent
{
    background-color:white;
}
a.confAccordionHeaderTextStyle
{
    color: black;
    font-weight : bold;
}
a.confAccordionHeaderTextStyle:hover
{
    color: black;
    text-decoration:none;
}
.accordionDiv1
{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.06);/*#414042;*/
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.confAccordionPendingFont
{
    font-size:medium;
}

.confdivPayMethod
{
    padding-bottom:20px;
}
.confPayMethod
{
    font-size:small;
    font-weight:bold;
}