﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Master.master" AutoEventWireup="true" CodeFile="AdminLoginLock.aspx.cs" Inherits="Admin_AdminLoginLock" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="centercontent">
        <h4><asp:Label ID="lblMessage" runat="server" Text="Sorry, please try later!"></asp:Label></h4>
    </div>
</asp:Content>

