﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/Master.master" AutoEventWireup="true" CodeFile="QuestionnaireReport.aspx.cs" Inherits="Admin_QuestionaireReport" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h3 class="box-title">Questionnaire Report</h3>
    <iframe id="questionnaireFrame" runat="server" style="width:100%;height:900px"/>
</asp:Content>

