﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tester.aspx.cs" Inherits="Admin_tester" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button runat="server" ID="bntTeseter" OnClick="btntester_Onclick" Text="Tester"/>
    </div>
    </form>
</body>
</html>
