﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="OnsiteMaster_Admin.master.cs" Inherits="OnsiteMaster_Admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="row">
            <asp:Image ID="SiteBanner" runat="server" CssClass="img-responsive"  Width="100%" />
        </div>
        <div>
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
