﻿@charset "utf-8";
/* CSS Document */

body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0; font-weight: normal;font-style: normal;font-size: 100%; font-family: inherit;}
ol, ul ,li{list-style: none;}
img {border: 0;}
body {color:#000;background:#FFF;text-align: left;font: 12px/1.5  'bellezaregular', Arial, Helvetica, sans-serif; line-height:20px;}
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;}
.clear{clear:both;height:1px; margin-top:-1px; width:100%;} 
.dis{display:block;}
.undis{display:none;} 
.fl{float:left;}
.fr{float:right;}

h1{font-size:14px;}
h2{font-size:24px;color:#222;}
h3{font-size:24px;}
p{margin:13px 0px;}


@font-face {
    font-family: 'bellezaregular';
    src: url('Belleza-Regular-webfont.eot');
    src: url('Belleza-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Belleza-Regular-webfont.woff2') format('woff2'),
         url('Belleza-Regular-webfont.woff') format('woff'),
         url('Belleza-Regular-webfont.ttf') format('truetype'),
         url('Belleza-Regular-webfont.svg#bellezaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Universal Content*/
body{background:#F1F1F1;}
#box{ font-family: 'bellezaregular', sans-serif; font-size: 12px; color: #222; margin:0 auto;}
.logo{ background:#fff;}
.color1{background:#138bae;height:37px;border-bottom:1px solid #b11180;}
.color2{color:#2288b6; font-size:16px;}
.color3{background:#eaeaea;}
.color4{background:#fff;}
#wrap{padding: 0 60px;}




/* Page main content*/
.titleH3 {height:63px; color:#304493; line-height:63px;padding: 0 0 0 10px;white-space:nowrap; }
.mainbody{background:#fff;padding:20px;}
.mainbody input,select {height:30px; font-size:18px; color:#303030;width:70%;line-height:20px;padding: 0 10px;}
.mainbody select {width:35%;}

table{border-collapse:collapse; padding:20px; width:100%;}  /*//Remove gaps form*/
table th,table td{ padding: 10px 10px; font-size:18px;color:#666;} /* border:1px solid #eee;To the table heading and the cell border is set to 1 pixel color is #eee solid line*/


.iconimg img{ vertical-align:middle;margin:0 5px;}

/* food */
#food {font-size:48px;font:'myrid pro';width:95%;margin-top:10px;margin-left:20px;margin-right:20px;}
#food .title{color:#119bb2;}
#food .number {color:#000;}
#food .bar1,.bar2,.bar3,.bar4{background: #119bb2;height:36px; position:relative;/* display:none;*/}
#food .number1, .number2, .number3, .number4{ position: absolute; right: -165px; top: -25px; width: 150px; height: 40px; }
#food .bar1{width:70%;}
#food .bar2 {width:20%;}
#food .bar3 {width:100%;}
#food .bar4 {width:40%;}
#food .barpad{margin-left:0px;}

/* box */
.square{ width:auto;height:511px; margin:auto;background:#fff;padding:18px;}
.square .sq2 {width:auto;height:311px; background:#808285;color:#fff; text-align:center;padding-top:200px;line-height:50px;}

/* box2 */
#squarebox{margin-left:50px;}
.square2{ width:438px;height:265px; margin:100px auto;background:#fff;padding:20px 20px 20px 20px ; float:left;margin:10px;border:solid 1px #b2b2b2;}
.square2 .sq2 {width:400px;height:205px; background:#808285;color:#fff; font-size:24px; text-align:left;padding:20px 20px 0px;line-height:30px; position:relative; overflow:hidden;}
.square2 span.time { position:absolute; left:20px;bottom:20px;}

/* show */
.showbox{ width:auto;min-height:511px; margin:50px auto;background:#fff;padding:22px;font-size:24px; line-height:30px;border:solid 1px #ccc;}
.show{ border-bottom:solid 1px #119bb2;padding:20px;}
.showL{float:left;height:130px;}
.showL img{margin: 0 0 10px 0;}
.show span{display:block; margin: 0 100px 0 290px;text-align:left;}
.show i{ display:block; float:right;margin-top:20px;height:130px;}

.qa { text-align:center;padding-top:170px;width:1254px; height:404px; margin:50px auto;border:solid 1px #ccc;background:#fff; box-shadow: 3px 3px 5px #666;}
.qa img{}




