﻿
.SiteHeader {
}

.SiteBody {
    background-color: #ebebeb;
}

.SiteMasterFrame {
    background-color: #f6f6f6;
    font-family: Arial !important;
}

.SiteContent {
    padding-top: 20px;
    padding-left: 20px;
}

.SiteHeader {
    background-color: #000000;
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 5px 10px 5px;
}

.MainButton {
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
